 p{
    margin-bottom: 1.6rem;
 font-size: 1.6rem;
    }

 button{
    padding: 1.6rem 0;
    cursor: pointer;
    background-color: #00fff0;
    color:#fff;
    border-radius:21px;
    font-size:large;
    width: 25rem;
}
label{
    font-size: 1.6rem;
}
h1{
    color: #000!important;
}
input{
    padding: 0.3rem 0.6rem;
}
 .short-container h1{
    color: #000!important;
}
.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.short-container{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}