* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: #eff3ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
.container {
  border: none;
  background: none;
  box-shadow: none;
  max-width: 152rem;
  margin: auto;
  top:30%
}

header {
  background: none;
  margin: 3.2rem 0;
}

.card-demo {
  display: flex;
  justify-content: center;

  & .pokemon-card {
    min-height: 32rem;
  }
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  color: #000 !important;
  text-align: center;
}

.pokemon-image {
  width: 60%;
  height: 15rem;
}
.pokemon-card{
  width: 36rem;
  min-height: 42rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius:0.2rem;
  padding: 1.6rem;
  position:relative;
}
.pokemon-card::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  transform: rotate(180deg);
  background-color: #ebfbf1;
  border-radius: 50% 50% 100% 0%/99% 100% 0% 1%;
  z-index: 0;
  transition: transform 0.3s,box-shadow 0.3s;
}
.pokemon-card:hover::before {
  -webkit-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -moz-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -ms-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -o-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.03);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
figure{
  display:flex;
  justify-content: center;
  filter: drop-shadow(0px 50px 100px rgba(50,50,93,0.25));
}
.pokemon-image{
  width: 60%;
  height:15rem;
}
