/* This file contains global CSS styles that apply to the entire application.
   These styles affect all components across the app. */
@import "tailwindcss";

/* Base rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color)!important;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3.2rem;
}

/* Text elements */
p,
li,
a,
label {
  font-size: 1.8rem;
  letter-spacing: 0.03rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Theme variables */
:root {
  --main-color: #0066ff;
  --supporting-color: #ebf3fe;

  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --h-color: #0a043c;
  --white-color: #ffffff;
  --test: #070101;
    --primary-color: #070101;
  --para-color: #584e4d;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 4px;
}

/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 9.6rem 1.4rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}
